.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 110px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

header {
  width: 100%;
}

h3 a {
  color: #7ed9f7;
}

h3 span {
  color: #a6e656;
}

ul {
  display: flex;
  justify-content: center;
}
ul li a {
  color: lightgray;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
}
li {
  list-style: none;
  border-bottom: 1px solid;
  margin: 0 10px;
}
